.idea/
*.pyc
*__pycache__/
*test_results/
docker_build/EAGLE-*.tar.gz
dist/
EAGLE.egg-info/
*.log
*.log.*
*.ipynb_checkpoints/
*Untitled.ipynb
Research/data/*
Research/DEG/bacteria/*
*.dat
*.fuse_hidden*
